.phoneBook {
    width: 100%;
    max-width: 26rem;
    padding: 3rem 2rem;
    background-color: rgba(69, 132, 247, 0.6);
    border-radius: 40px;
}
.contact__form {
}
.contact__input_box {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    margin-bottom: 1rem;
}
.form__name,
.form__number {
    color: #e9d5ff;
    font-size: 22px;
    font-family: nunito;
    font-weight: 600;
}
.form__input {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    margin-top: 0.5rem;
}
.form__number {
}
.form__button {
    border-radius: 10px;
    background-color: #6d28d9;
    color: white;
    font-family: roboto;
    font-size: 16px;
    padding: 10px 0px;
    font-weight: 500;
    width: 100%;
}
.form__button:hover,
.del__button:hover {
    background-color: #7232e0;
}
.contact__list {
}
.item__info {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    line-height: 150%;
}
.list__item {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding: 0.5rem;
    justify-content: space-between;
    border-radius: 0.5rem;
    background-color: rgb(21, 35, 125);
}
.list__text {
    color: white;
    font-size: 16px;
    font-family: roboto;
}
.button {
}
.del__button {
    border-radius: 10px;
    background-color: #6d28d9;
    color: white;
    font-family: roboto;
    font-size: 16px;
    padding: 10px 30px;
    font-weight: 500;
}

.filter__name {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.filter__label {
}
.filter__input {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    background-color: rgba(233, 213, 255, 0.7);
    color: white;
    width: 100%;
}
.filter__input::placeholder {
    color: white;
}
